{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">

  <head>
    <meta charset="UTF-8"/>
    <title>Сервіс Обліку Студентів -{% block meta_title %}{% endblock meta_title %} </title>
    <meta name="description"
	  value="Система Обліку Студентів Навчального Закладу" />
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	 
	<!-- Include Styles -->
	<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">

	<style type="text/css">.col-xs-12, .col-xs-4, .col-xs-8 {border: 1px solid white;} 
 </style>

{% block extra_css %} {% endblock extra_css%}
  </head>

  <body>
<div class="back">
	<!-- Start Container -->
	<div class="container">
				 <!-- Start Header -->
	 	<div class="row" id="header">

	 		{% block logo %}
	 			<!-- Logo -->	 		
	    	<div class="col-xs-8">
	    	  <h1>Сервіс Обліку Студентів</h1>
	    	</div>
	    	{% endblock logo %}

	 			<!-- Groups Selector -->
	    		    	
			<div class="col-xs-4" id="group-selector">
	    	  <strong>Група:</strong>
	    	  <select>
	    	  	<option value="">Усі студенти</option>
	    	  	<option value="">МтМ - 21, Баланчук Денис (№ 254)</option>
	    	  	<option value="">МтМ - 22, Подоба Віталій (№ 2123)</option>
	    	  	<option value="">МтМ - 23, Борисов Денис (№ 2)</option>
	    	  </select> 
			</div>
		</div>
	 			<!-- End Header -->
	 
	 			<!-- Srart SubHeader -->
		<div class="row" id="sub-header">
			<div class="col-xs-12">
		  	  <ul class="nav nav-tabs" role="tablist">
		  	    <li role="presentation" {% if request.path == '/' %} class="active"{% endif%} > <a href="{% url "home"%}">Студенти</a></li>
		  	    <li role="presentation" {% if '/journal' in request.path %} class="active" {% endif %}> <a href="{% url "journals" %}"> Відвідування</a>
		  	    </li>
		  	    <li role="presentation"{% if '/groups' in request.path %} class="active" {% endif %}><a href="{% url "groups" %}">Групи</a></li>
		  	    {% block subheader %} {% endblock subheader %}
		  	  </ul>
			</div>
		</div>
	 			<!-- End SubHeader -->	  
	 			
	 			<!-- Start Main Page Content --> 
		<div class="row" id="content-columns">
			<div class="col-xs-12" id="content-column">			  
				<!-- Status Massege -->
				{% comment "Not used alert so far" %}
				<div class="alert alert-warning">Status Update!
				</div> 
				{%endcomment%}
				<h2>{% block title %}{% endblock title %}</h2> 
				{% block content %}{% endblock content %}

			</div>
		</div>
 	 			<!-- End Main Page Content -->

 	 			<!-- Pagination -->
		{% include "students/pagination.html" %}

 	 			{% block footer %}
	 			<!-- Start Footer -->	 		
		
			<div class="col-xs-12" id="footer">
		 	&copy; 2015 Сервіс Обліку Студентів
			</div>
		
	 			<!-- End Footer -->
	 			{% endblock footer %}


	</div>
				<!-- End Container -->
</div>

	<!-- Javascripts Section -->
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>

 <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 {% block extra_js %}{% endblock extra_js %}
  </body>
</html>