/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
/*-------------------------------*/
/* Alert Masseges*/
.alert {
	margin-top: 10px;
}
/*-------------------------------*/
.back {
	background:url(B_G.png);
	height: 100vh;
	background-attachment:fixed;         
    background-size: 100%;
    padding: 20px;
}
.container {
	background-color: white;
	padding: 20px;
}
/* Footer Line */
#footer {
	/* задаємо верхню межу елемента: ширина лінії, тип лінії, колір
лінії */
	border-top: 1px solid #dddddd;
	/*
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	*/
/* задаємо внутрішню відстань елемента до верхнього краю */
	padding-top: 3px;
}
/*-------------------------------*/
/* Groups Selecrot */
#group-selector {
	margin-top: 30px;
}
#group-selector select {
	margin: 0;
	width: 85%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	line-height: 30px;
	color: #555555;
}
/*-------------------------------*/
#table-journal th {
	border: 1px solid #dddddd;
}
/*-------------------------------*/
#form {
	margin-top: 5%;
}
/*-------------------------------*/
#choose_file {
	border-radius: 10px;
	border-color: black;
}
/*-------------------------------*/
#back_form {
	height: 60px;
	background: #F5F5F5;
}
/*-------------------------------*/
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}